BODY {
    background: cornflowerblue;
    font-family: Calibri;
}

.tile0, .tile1, .tile2, .tile3, .tile4, .tile5, .tile6, .tile7, .tile8, .tile9 {
    display: table-cell;
    width: 165px;
    height: 193px;
    border: 1px solid ghostwhite;
    background: url(ShyGuy.png);
    cursor: pointer;
}

.tile0 {background-position: left top;}
.tile1 {background-position: center top;}
.tile2 {background-position: right top;}
.tile3 {background-position: left center;}
.tile4 {background-position: center center;}
.tile5 {background-position: right center;}
.tile6 {background-position: left bottom;}
.tile7 {background-position: center bottom;}
.tile8 {background-position: right bottom;}
.tile9 {background: ghostwhite; cursor: default;}
